{% extends main.html %}

{% block title %}TestBoxes | XMLHttpRequest Tester{% end %}

{% block content %}
<h1>XMLHttpRequest Tester<h1>
<table class="uk-table">
  <caption>TestBox</caption>
    <thead>
      <tr>
        <th>Head1</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td>Tfoot</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Tbody</td>
        <td>Tbody2</td>
      </tr>
    </tbody>
</table>


<script src="{{ static_url("js/XMLHttpRequest.js") }}"></script>
{% end %}
